.sidebar_options {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #818181;
  cursor: pointer;
}

.sidebar_options:hover,
.sidebar_options:hover > p,
.sidebar_options:hover > h3,
.sidebar_options_active,
.sidebar_options_active > p,
.sidebar_options_active > h3 {
  background-color: #fcecec;
  color: #1f811e;
  font-weight: 800 !important;
}

.sidebar_options > p {
  display: none;
  font-weight: 300;
}

.sidebar_options:hover > p {
  display: inline;
}

.sidebar_options_active > p {
  display: inline !important;
}

.sidebar_options > h3 {
  flex: 1;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
}

.sidebar_options > .MuiSvgIcon-root {
  padding: 5px;
}
